.header {
  background-color: #2f4050;
  color: #dfe4ed;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.filters_container {
  display: flex;
  padding: 0.8rem;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
}

.filter_item {
  background-color: #1ab394;
  color: #ffffff;
  border-radius: 5px;
  padding: 0.8rem;
}

.init_button {
  background-color: #23c6c8;
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  cursor: pointer;
  color: #ffffff;
}

.character_card {
  margin: 1em;
  padding: 1em;
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  border-radius: 5px;
  display: flex;
}

.character_data {
  flex: 3 3 0;
}

.character_data th,
.character_data td {
  text-align: left;
  padding: 0.3em;
}

.delete_button_area {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_button {
  border: 0;
  background-color: aliceblue;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}
