.header {
  background-color: #2f4050;
  color: #dfe4ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters_container {
  display: flex;
  padding: 0.8rem;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}

.filter_item {
  border-radius: 5px;
  padding: 0.8rem;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-right: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.init_button {
  background-color: #ccc;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s;
  font-size: 1em;
  font-weight: 700;
  align-self: center;
  width: 100px;
}

.init_button:hover {
  background-color: rgb(60, 123, 218);
}

.character_card {
  margin: 1em auto;
  padding: 1em;
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  border-radius: 5px;
  display: flex;
  max-width: 600px;
  -webkit-box-shadow: 4px 4px 13px -1px rgba(51, 51, 51, 0.75);
  -moz-box-shadow: 4px 4px 13px -1px rgba(51, 51, 51, 0.75);
  box-shadow: 4px 4px 13px -1px rgba(51, 51, 51, 0.75);
}

.character_data {
  flex: 4 4 0;
}

.character_data table {
  table-layout: fixed;
  width: 100%;
}

.character_data th {
  text-align: left;
  padding: 0.3em;
  width: 30%;
}

.character_data td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}

.delete_button_area {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_button {
  border: 0;
  background-color: #fd5c5c;
  color: #ffffff;
  padding: 0.8em 1.5em;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
}

.delete_button:hover {
  background-color: #e03939;
}

.loader_container {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .filters_container {
    flex-direction: column;
  }
  .init_button {
    margin-top: 10px;
  }
}
